In [51]:
import pandas as pd

df = pd.read_csv('hw3-nces-ed-attainment.csv')

In [35]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [36]:
import graphviz 
import pandas as pd
import requests
from sklearn.tree import export_graphviz

In [52]:
df

,Year,Sex,Min degree,Total,White,Black,Hispanic,Asian,Pacific Islander,American Indian/Alaska Native,Two or more races
0,1920,A,high school,---,22.0,6.3,---,---,---,---,---
1,1940,A,high school,38.1,41.2,12.3,---,---,---,---,---
2,1950,A,high school,52.8,56.3,23.6,---,---,---,---,---
3,1960,A,high school,60.7,63.7,38.6,---,---,---,---,---
4,1970,A,high school,75.4,77.8,58.4,---,---,---,---,---
...,...,...,...,...,...,...,...,...,...,...,...
209,2014,F,master's,9.3,11.1,5.0,3.6,20.8,---,---,7.5
210,2015,F,master's,10.4,12.0,7.2,4.1,23.2,---,---,10.2
211,2016,F,master's,11.2,12.3,6.3,6.3,28.8,---,---,8.2
212,2017,F,master's,10.5,11.8,6.8,5.0,25.8,---,---,5.4
213,2018,F,master's,10.7,12.6,6.2,3.8,29.9,---,---,---

In [59]:
df = df.dropna()
df = df[['Year', 'Min degree', 'Sex', 'Total']]
df = df[df['Total'] != '---']
X =  df.loc[:, df.columns != 'Total']
X = pd.get_dummies(X)
y = df['Total']

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [61]:
accuracy_score(y_test, model.predict(X_test))

0.046511627906976744